In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bitcoin_prices.csv')

In [3]:
df

              date     open     high      low    close
0     Jul 15, 2018  6272.70  6403.46  6256.51  6359.64
1     Jul 14, 2018  6247.50  6298.19  6212.22  6276.12
2     Jul 13, 2018  6235.03  6310.55  6192.24  6238.05
3     Jul 12, 2018  6396.78  6397.10  6136.42  6228.81
4     Jul 11, 2018  6330.77  6444.96  6330.47  6394.71
5     Jul 10, 2018  6739.21  6767.74  6320.72  6329.95
6     Jul 09, 2018  6775.08  6838.68  6724.34  6741.75
7     Jul 08, 2018  6857.80  6885.91  6747.98  6773.88
8     Jul 07, 2018  6668.71  6863.99  6579.24  6856.93
9     Jul 06, 2018  6638.69  6700.94  6533.55  6673.50
10    Jul 05, 2018  6599.71  6749.54  6546.65  6639.14
11    Jul 04, 2018  6550.87  6771.92  6450.46  6597.55
12    Jul 03, 2018  6596.66  6671.37  6447.75  6529.59
13    Jul 02, 2018  6380.38  6683.86  6305.70  6614.18
14    Jul 01, 2018  6411.68  6432.85  6289.29  6385.82
15    Jun 30, 2018  6214.22  6465.51  6214.22  6404.00
16    Jun 29, 2018  5898.13  6261.66  5835.75  6218.30
17    Jun 28, 2018  6153.16  6170.41  5873.05  5903.44
18    Jun 27, 2018  6084.40  6180.00  6052.85  6157.13
19    Jun 26, 2018  6253.55  6290.16  6093.67  6093.67
20    Jun 25, 2018  6171.97  6327.37  6119.68  6249.18
21    Jun 24, 2018  6164.28  6223.78  5826.41  6173.23
22    Jun 23, 2018  6090.10  6224.82  6071.81  6162.48
23    Jun 22, 2018  6737.88  6747.08  6006.60  6083.69
24    Jun 21, 2018  6780.09  6810.94  6715.17  6729.74
25    Jun 20, 2018  6770.76  6821.56  6611.88  6776.55
26    Jun 19, 2018  6742.39  6822.50  6709.92  6769.94
27    Jun 18, 2018  6510.07  6781.14  6446.68  6734.82
28    Jun 17, 2018  6545.53  6589.11  6499.27  6499.27
29    Jun 16, 2018  6455.45  6592.49  6402.29  6550.16
...            ...      ...      ...      ...      ...
1875  May 27, 2013   133.50   135.47   124.70   129.75
1876  May 26, 2013   131.99   136.00   130.62   133.48
1877  May 25, 2013   133.10   133.22   128.90   131.98
1878  May 24, 2013   126.30   133.85   125.72   133.20
1879  May 23, 2013   123.80   126.93   123.10   126.70
1880  May 22, 2013   122.89   124.00   122.00   123.89
1881  May 21, 2013   122.02   123.00   121.21   122.88
1882  May 20, 2013   122.50   123.62   120.12   122.00
1883  May 19, 2013   123.21   124.50   119.57   121.99
1884  May 18, 2013   123.50   125.25   122.30   123.50
1885  May 17, 2013   118.21   125.30   116.57   123.02
1886  May 16, 2013   114.22   118.76   112.20   118.76
1887  May 15, 2013   111.40   115.81   103.50   114.22
1888  May 14, 2013   117.98   119.80   110.25   111.50
1889  May 13, 2013   114.82   118.70   114.50   117.98
1890  May 12, 2013   115.64   117.45   113.44   115.00
1891  May 11, 2013   117.70   118.68   113.01   115.24
1892  May 10, 2013   112.80   122.00   111.55   117.20
1893  May 09, 2013   113.20   113.46   109.26   112.67
1894  May 08, 2013   109.60   115.78   109.60   113.57
1895  May 07, 2013   112.25   113.44    97.70   111.50
1896  May 06, 2013   115.98   124.66   106.64   112.30
1897  May 05, 2013   112.90   118.80   107.14   115.91
1898  May 04, 2013    98.10   115.00    92.50   112.50
1899  May 03, 2013   106.25   108.13    79.10    97.75
1900  May 02, 2013   116.38   125.60    92.28   105.21
1901  May 01, 2013   139.00   139.89   107.72   116.99
1902  Apr 30, 2013   144.00   146.93   134.05   139.00
1903  Apr 29, 2013   134.44   147.49   134.00   144.54
1904  Apr 28, 2013   135.30   135.98   132.10   134.21

[1905 rows x 5 columns]